:root{
  --color-blue:rgb(4, 121, 150);
  --color-footer: rgb(28, 169, 204);
}

body {
    background-image: url("../img/css-patterns-2.jpg");
    background-attachment: fixed;
  }

#logo {
    background-color: var(--color-blue);
  }
  
  #menu a:hover {
    background-color: var(--color-blue);
  }

  .buttom-more {
    background-color: var(--color-blue);
  }
  #logout{
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    box-shadow: 0 0 5px var(--color-blue);
  }

  form input[type="submit"] {
    background-color: var(--color-blue);
  }

  footer .linkedin {
    color: var(--color-footer);
      }
      
      footer .linkedin:visited {
        color: var(--color-footer);
      }
      
      footer .to-up{
        color: var(--color-footer);
      }
      
      footer .to-up:visited{
        color: var(--color-footer);
      }
      
      #form_contact{
        border: 2px solid var(--color-blue);
      }